<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Frank Card</title>
    <link rel="stylesheet" href="static/card_page.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
    <link rel="icon" href="static/favicon.ico">
</head>
<body>
    <div class="card_container">
        <img class="profile_avatar" src="static/Francisco.png" alt="Francisco_avatar">
        <h2>Francisco Hernandez</h2>
        <h3>Beginner Developer</h3>
        <div class="internal_container">
            <a href={{url_for('my_home')}}>
            <img class="icon-home" src="static/home_ico.png" alt="home-img"></a>
            <a href="twitter">
            <img class="icon-twitter" src="static/twitter_ico.png" alt="twitter-img"></a>
            <a href="github">
            <img class="icon-github" src="static/github_ico.png" alt="github-img"></a>
            <img class="icon-reddit" src="static/reddit_ico.png" alt="reddit-img">
            <a href="my_blog">
            <img class="icon-blog" src="static/blog_ico.png" alt="blog-img"></a>
        </div>
    </div>

</body>
    <div class="bottom-container">
        <p class="copyright">© Francisco Hernandez Corp.</p>
    </div>
</html>